* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.center-aligned   {
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 775px;
}

