/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license    {
    width: 700px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 24px;
    display: inline-block; 
    width: 65%;
    background: linear-gradient(lightcoral ,peachpuff);
    box-shadow: 8px 8px black;
}

#left-side  {
    display: inline-block; 
    width: 65%;
}

#right-side {
    display: inline-block; 
    width: 34%;
    font-size: larger;
}

div #content image  {
    width: 700px;
    border: 3px solid black;
    border-radius: 20%;
    padding: 24px;
    display: inline-block; 
    width: 65%;
    background-color: 5px solid yellow;
}

#id-and-expiration div {
    display: inline-block;
    font-weight: 600;
    margin: 30px;
    font-size: 9px;
    color: red;
}

#small-pic,
#data-field    {
    display: inline-block;
}

#small-pic-container img  {
    height: 50px;
    width: 50px;
    opacity: 0.5;
    margin: px;
}

#data-left,
#data-right {
    display: inline-block;
    color: red;
}

#donor,
#real-id  {
    display: inline-block;
    color: red;
    font-size: 12px;
}

#left-side h4 {
    font-size: 25px;
    font-weight: 400;
    background-color: purple;
    color: white;
    padding-left: 20%;
}

#content h1 {
    font-size: 50px;
    color: purple;
}

 div #real-id   {
    background-color: yellow;
    border-radius: 45px;
}