/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

#license    {
    width: 700px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 24px; 
    background: linear-gradient(lightcoral ,peachpuff);
    box-shadow: 8px 8px black;
}

#left-side  {
    display: inline-block; 
    width: 65%;
}

#right-side {
    display: inline-block; 
    width: 34%;
}

#right-side img {
    width: 100%;
}

#id-and-expiration div {
    display: inline-block;
    color: purple;
    padding-top: 8px;
    padding-right: 30px;
    padding-left: 4px;
    padding-bottom: 4px;
}

#small-pic,
#data-field    {
    display: inline-block;
}

#small-pic-container,
#data-fields    {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
}

#small-pic-container img  {
    height: 70px;
    width: 60px;
    opacity: 0.5;

}

#data-left,
#data-right {
    display: inline-block;
    color: purple;
}

#donor,
#real-id  {
    display: inline-block;
    color: red;
    font-size: 12px;
}

#left-side h4 {
    font-size: 25px;
    font-weight: 400;
    background-color: purple;
    color: white;
    padding-left: 20%;
    padding-bottom: 5px;
    margin: 5px;
    padding-top: 5px;
}

#content h1 {
    font-size: 50px;
    color: purple;
    margin: 2px;
}

 div #real-id   {
    background-color: yellow;
    border-radius: 45px;
}

#data-left span,
#data-right span {
    color: red;
}

#id-and-expiration span {
    color: red;
}

#address    {
    font-weight: 600;
    color: red;
}

#signature  {
    font-family: "Pinyon Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 5px;
    text-align: center;
}