* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#Bw-1  { 
    background-color: #deb887;
    text-align: center;
    padding: auto;
    font-family: cursive;
}

#Sp-2   {
   background-color: aqua;
   text-align: center; 
   padding: auto;
   font-family: cursive;
}

#color-of-inspiration   {
    text-align: center;
    font-size: 60px;
    padding: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#Sprk-1  {
    text-align: center;
    background-color: cadetblue;
    padding: auto;
    font-family: cursive;
}

#Mns-2  {
    text-align: center;
    font-size: 60px;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
}

#drk-1   {
    background-color: deeppink;
    text-align: center;
    padding: auto;
    font-family: 'Times New Roman';
}

#pls-1   {
    background-color: lightpink;
    text-align: center;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
}

#whte-1  {
    text-align: center;
    background-color: pink;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
}

#vltre-2    {   
    text-align: center;
    font-size: 60px;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ply-4   {
    background-color: yellow;
    text-align: center;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#of-6 {
    background-color: yellowgreen;
    padding: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fre-7   {
    background-color: #ffebcd;
    text-align: center;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}