* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-4 {
    background-image: url("../images/paint.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

#hero-4 .hero-content {
    text-align: center;
    color: white;
    padding-top: 100px;
    background-color: darkgray;
    border-radius: 25%;
}

#hero-4 h2 {
    font-size: 72px;
    margin-bottom: 36px;
}

#hero-4 h4 {
    font-size: 24px;
    margin: 0px;
}

#hero-4 a {
    font-size: 14px;
    display: inline-block;
    background-color: white;
    color: #333333;
    text-decoration: none;
    padding: 24px;
    margin-top: 36px;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 50px;
}

#hero-4 a:hover {
    background-color: gray;
    font-size: 24px;
    border-radius: 50px;
}

#hero-5 {
    background-image: url("../images/tools.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 100px;
}

#hero-5 .hero-content {
    text-align: right;
    position: relative;
    top: 5%;
    right: 10%;
    font-family: 'Times New Roman', Times, serif;
}

#hero-5 h2 {
    font-size: 100px;
    margin-bottom: 60px;
}

#hero-5 h4 {
    font-size: 28px;
}

#hero-5 a   {
    text-decoration: none;
    color: white;
    border-radius: 25px;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

#hero-5 .hero-content   {
    color: white;
    font-size: 25px;
    position: fixed;
    text-align: center;
    top: 5%;
    right: 10%;
    font-family: 'Times New Roman', Times, serif;
}

#hero-5 a:hover   {
    color: white;
    background-color: grey;
    font-size: 50px;
}

#hero-3 {
    background-image: url("../images/toilet.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

#hero-3 a  {
    font-size: 14px;
    color: black;
    position: absolute;
    display: inline-flex;
    padding: 24px;
    right: 20%;
    bottom: 41%;
    background-color: white;
    text-decoration: none;
    border-radius: 50px;
}

#hero-3 h4  {
    font: size 100px;
    color: white;
    position: absolute;
    padding: 28px;
    right: 20%;
    bottom: 47%;
}

#hero-3 h2  {
    font-size: 72px;
    color: white;
    position: absolute;
    right: 20%;
    bottom: 50%;
}

#hero-3 a:hover {
    background-color: darkgrey;
    font-size: 24px;
    border-radius: 50px;
}

#hero-3.hero-content   {
    position: relative;
    right: 5%;
    bottom: 10%;
    font-family: 'Times New Roman', Times, serif;
}