/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-2   { 
    width: 350px;
    background-color: white;
    border-radius: 25px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 25%;
    text-align: center;
    font-size: large;
}

.profile-pic-container  {
    width: 100%;
    text-align: center;
    padding: 5%;
}

.profile-pic-container img  {
    width: 50%;
    border-radius: 50%;
}

.card-style-2 h2    {
   font-weight: 500;
}

.card-style-2 p {
    font-weight: 150;
    font-size: smaller;
}

.logo   {
    margin-right: 35%;
    border-top: 50%;
}

.brand-name {
    border-top: 35%;
}