/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

.first-outer-frame  {
    width: smaller;
    margin: 10px;
    padding: 50px 50px;
}

.first-inner-frame  {
    padding: 0%;
}

.first-image    {
    width: 125px;
    border: 5px solid black;
}

.second-outer-frame {
    width: smaller;
    margin: 10px;
    padding: 10px 0px;
}

.second-inner-frame {
    padding: 10%;
}

.second-image   {
    width: 75px;
    border: 5px solid whitesmoke;
}

.third-outer-frame  {
    width: smaller;
    margin: 0% 10px 10px;
    padding: 1%;
}

.thrid-inner-frame {
    padding: 0px;
}

.third-image    {
    width: 100px;
    border: 5px solid grey;
    padding: 10px;
    background-color: aliceblue;
    margin: -60px;
}

.featured-text-outer-frame  {
    font-size: smaller;
    background-color: deepskyblue;
}

.featured-inner-frame   {
    padding: -30%;
    color: aliceblue;
    }